#index-banner.parallax-container.mini
  .section.no-pad-bot
    .container
      h1.header.center.orange-text.text-lighten-2 #{title}
      br
  .parallax
    img(src="img/background.jpg", alt="background")
