.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h1.header.col.s12.light
  .parallax
    img(src="img/background.jpg", alt="background")

script(type="text/javascript", src="js/jquery-2.1.1.min.js")
script(type="text/javascript", src="js/materialize.js")
script(type="text/javascript", src="MessageListener.js")
script(type="text/javascript", src="MessageSender.js")
script(type="text/javascript", src="DataStorage.js")
script(type="text/javascript", src="init.js")
