/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.parallax-container h1 {
  text-shadow:
    -2px -2px 0px black,
     2px -2px 0px black,
    -2px  2px 0px black,
     2px  2px 0px black;
}

.parallax-container h5 {
  text-shadow:
    -1px -1px 0px black,
     1px -1px 0px black,
    -1px  1px 0px black,
     1px  1px 0px black;
}

.button-collapse {
  color: #26a69a;
}

.contact {
  font-size: 24px;
}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container.mini {
  min-height: 100px;
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
  color: black;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

table.highlight > tbody > tr.locked:hover {
  background-color: #F2C2C2
}

.modal input {
  height: 1rem;
  margin: 0px;
}

.modal.locked, .modal.locked .modal-footer, .locked {
  background-color: #FFCFCF
}

.modal .loader {
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 40px;
}

.modal.wait #block {
  visibility:visible;
  opacity:0.5;
  transition-delay:0.1s;
}

.modal #block {
  visibility:hidden;
  opacity:0;
  transition:opacity 1s linear;
  transition-delay:0s;
}


.autocomplete-content {
  position: absolute;
  margin-top: 1em;
}